.img-flex {
    width: 400px;
    height: auto;
}

.box {
    height: 100px;
    background-color: yellow;
}

.box-1 {
    height: 50px;
    background-color: lightblue;
}

.w-800 {
    max-width: 800px;
    // text-align: center;
    margin: 0 auto;
}